<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678384767745-drus7apjd9r59j730qai41a8a7f2jqg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678384767745-drus7apjd9r59j730qai41a8a7f2jqg8</string>
	<key>API_KEY</key>
	<string>AIzaSyB_3plVkgWbu3I7G5hoXLIHBXeQvvg7WUM</string>
	<key>GCM_SENDER_ID</key>
	<string>678384767745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>white-povar</string>
	<key>STORAGE_BUCKET</key>
	<string>white-povar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678384767745:ios:2d6e67d8cbe77e0abd0100</string>
</dict>
</plist>